<tr>
    <td>
        {{ game.id }}
    </td>
    <td>
        {{ game.name }}
    </td>
    <td>
        {{ game.created }}
    </td>
    <td>
        {{ game.price }}
    </td>

    <td>
        {% if not game.played %}
        <button class="disbtn"
                hx-patch="{% url 'htmx1:game_played_status' game.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Unplayed
        </button>
        {% else %}
        <button class="disbtn"
                hx-patch="{% url 'htmx1:game_played_status' game.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Played
        </button>
        {% endif %}
    </td>

    <td>
        <button class="disbtn"
                hx-get="{% url 'htmx1:game_edit' game.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Edit
        </button>

        <button class="disbtn"
                hx-delete="{% url 'htmx1:game_delete' game.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-confirm="Вы точно хотите удалить эту запись?">
            Delete
        </button>
    </td>
</tr>
