<form class="form-inline" method="post" action="">
    <div class="row">
        <div class="col">
            {{ form.name }}
        </div>

        <div class="col">
            {{ form.description }}
        </div>

        <div class="col">
            {{ form.price }}
        </div>

        <div class="col">
            <!-- Кнопка "Add game" -->
            <button
                    type="submit"
                    class="disbtn btn btn-primary"
                    hx-post="{% url 'htmx1:add_game' %}"
                    hx-target="#game-list"
                    hx-swap="beforeend">
                Add game
            </button>
        </div>
    </div>
</form>